@import "variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontType);
    background-color: var(--colorBg);
    margin: 0.5rem 15rem 2rem 15rem;

    @media (max-width: 768px) {
        margin: 0.5rem 1rem 2rem 1rem;
    }

    h1 {
        background-color: var(--colorPrimary);
        color: var(--colorText);
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem; 
        padding: 0.75rem 1.5rem; 
        background-color: var(--colorBg);
    }
    
    nav ul {
        display: flex;
        gap: 1rem;
    }
    
    nav li {
        list-style: none;
    }
    
    nav a {
        color: var(--colorTextBlack);
        text-decoration: none;
        font-weight: 500;
        padding: 0.5rem 1rem; 
        transition: color 0.2s ease-in-out;
    }
    
    nav a:hover {
        color: var(--colorPrimary); 
    }
    
}

#cd-form-section {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 400px;

        label {
            text-align: right;
            margin-right: 0.2rem;
            width: 75px;
        }

        input {
            flex: 1;
            padding: 0.5rem;
            font-size: var(--fontSize);
            width: 100%;
        }
        div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        #add-BTN {
            background-color: var(--colorSecondary);
            color: var(--colorText);
            padding: 12px;
            font-size: var(--fontSize);
            border: none;
            cursor: pointer;
            width: 100%;
            text-align: center;
            margin: 0rem 0rem 0rem 6rem;
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    th,
    td {
        border: 1px solid var(--colorText);
        padding: 8px;
        text-align: left;
    }

    th {
        color: var(--colorText);
    }

    .delete-cd {
        background: none;
        border: none;
        cursor: pointer;
        font-size: var(--fontSize);
        color: var(--colorText);
        transition: transform 0.2s ease-in-out;
    }

    .delete-cd:hover {
        transform: scale(1.2);
    }

    #cd-table-header {
        tr {
            background-color: var(--colorPrimary);
        }
    }

    #cd-list {
        th {
            background-color: var(--colorSecondary);
            color: var(--colorText);
        }
    }
}
